---
import Layout from "../layouts/Layout.astro";
import HeroHome from "../components/HeroHome.astro";
import TextMarquee from "../components/TextMarquee.astro";
import GalleryText from "../components/GalleryText.astro";
import ImageMarquee from "../components/ImageMarquee.astro";
import Faqs from "../components/Faqs.astro";
import StepsTimeline from "../components/StepsTimeline.astro";
import Plans from "../components/Plans.astro";
import Statements from "../components/Statements.astro";
import Introducing from "../components/Introducing.astro";
import GL from "../components/GL.astro";

import logo1 from "../assets/core.png";
import logo2 from "../assets/Explorers.png";
import logo3 from "../assets/PathFinder-Flat-1.png";
import logo4 from "../assets/Seekers-1.png";
import logo5 from "../assets/Voyagers.png";
---

<Layout title="Home">
  <div id="hero-steps-wrapper">
    <div class="content-layer">
      <HeroHome
        transparentBg
        title="Jesús hace toda la diferencia!"
        subtitle="Jesús dijo: “Dejen que los niños vengan…” Marcos 10:13-16"
        cta={{
          title: "Conoce más",
          url: "#",
        }}
      />
      <StepsTimeline
        title="Los niños son el presente de las misiones"
        items={[
          {
            title: "Son los más fructíferos",
            text: "60-85% de los cristianos vinieron a Cristo como niños.",
          },
          {
            title: "Son la mayoría de los no alcanzados",
            text: "Solo el 15% de los recursos se destinan a llegar a los niños.",
          },
          {
            title: "Los niños tienen toda su vida para vivir para el Señor",
            text: "Al llegar a Cristo de niños, pueden vivir toda su vida para el Señor, impactando a generaciones futuras.",
          },
        ]}
      />
    </div>
    <GL />
  </div>

  <Introducing
    title="Nuestra misión"
    text="Es ganar a los niños y jóvenes del mundo para Cristo; ayudarlos a alcanzar su madurez espiritual, nutrirlos a través de cursos bíblicos en sus iglesias locales. Esto se logra por medio de un ministerio directo con las iglesias y multiplicando nuestros esfuerzos a través de asociaciones claves en todo el mundo."
    cta={{
      title: "Leer más",
      url: "#",
    }}
  />
  <GalleryText
    title="Lo que hacemos"
    text="The Mailbox Club facilita la traducción, producción y distribución de lecciones bíblicas en todo el mundo para personas de todas las edades, con especial énfasis en niños y jóvenes. Llegamos a muchos más niños de manera efectiva al asociarnos con ministerios estratégicos, que incluyen la iglesia local. Apoyamos a nuestros socios ministeriales capacitándolos adecuadamente y compartiendo las mejores prácticas que hemos aprendido durante casi 50 años de ministerio de seguimiento."
    cta={{
      title: "Leer más",
      url: "#",
    }}
    images={[
      {
        alt: "Children",
        src: "/image-1.webp",
        width: 1200,
        height: 1200,
      },
      {
        alt: "Children2",
        src: "/image-2.jpg",
        width: 2689,
        height: 4032,
      },
      {
        alt: "Children3",
        src: "/image-3.jpg",
        width: 3734,
        height: 5359,
      },
    ]}
    marqueeTexts={[
      "Publicamos",
      "Distribuimos",
      "Entrenamos",
      "Ellos enseñan",
    ]}
  />

  <Statements
    items={[
      {
        title: "Publicamos",
        text: "Escribimos y publicamos nuestras propias lecciones. Traducido a 100 idiomas",
      },
      {
        title: "Distribuimos",
        text: "Imprimimos y distribuimos en conjunto con socios. Nos asociamos a nivel mundial con los principales ministerios",
      },
      {
        title: "Entrenamos",
        text: "Formamos líderes que forman maestros voluntarios. Involucramos a cientos de miles de voluntarios (líderes + maestros). Involucramos a decenas de miles de iglesias locales",
      },
      {
        title: "Ellos enseñan",
        text: "Los voluntarios enseñan a los niños durante 6-10 meses. Vemos un gran porcentaje de niños que toman decisiones de salvación. Los estudiantes son discipulados: aprenden sobre Dios y cómo seguir a Jesús",
      },
    ]}
  />

  <TextMarquee
    class="marquee"
    texts={[
      "Dios mueve los corazones para llegar a los niños",
      "Pero Dios tenía planes más grandes",
      "Dios expandió el ministerio a 86 países",
    ]}
  />

  <Plans
    title="Material"
    subtitle="Nuestro material está centrado en Cristo, es fácil de entender y capaz de guiar a los niños a Cristo y también ayudarlos a fortalecerse en su fe. Aunque nos centramos principalmente en niños y adolescentes, también tenemos material para adultos."
    items={[
      {
        title: "Recursos para",
        price: {
          amount: "Niños",
        },
        link: {
          title: "Más información",
          url: "#",
        },
        features: [
          { title: "Up to 50 accounts" },
          { title: "Unlimited projects" },
          { title: "Chat support", disabled: true },
          { title: "Email support", disabled: true },
          { title: "Custom onboarding", disabled: true },
        ],
      },
      {
        title: "Recursos para",
        price: {
          amount: "Jóvenes",
        },
        link: {
          title: "Más información",
          url: "#",
        },
        features: [
          { title: "Up to 50 accounts" },
          { title: "Unlimited projects" },
          { title: "Priority chat support" },
          { title: "Email support" },
          { title: "Custom onboarding assistance" },
        ],
      },
      {
        title: "Recursos para",
        price: {
          amount: "Adolescentes",
        },
        link: {
          title: "Más información",
          url: "#",
        },
        features: [
          { title: "Up to 50 accounts" },
          { title: "Unlimited projects" },
          { title: "Chat support", disabled: true },
          { title: "Email support", disabled: true },
          { title: "Custom onboarding", disabled: true },
        ],
      },
    ]}
  />

  <Faqs
    title="Preguntas frecuentes"
    mobileTitle="FAQs"
    subtitle="Respuestas rápidas a las preguntas más comunes."
    items={[
      {
        question: "¿Cuál es la misión de The Mailbox Club?",
        answer:
          "Su misión es ganar a los niños y jóvenes del mundo para Cristo, ayudarlos a alcanzar su madurez espiritual y nutrirlos a través de cursos bíblicos en sus iglesias locales.",
      },
      {
        question: "¿Qué es The Mailbox Club?",
        answer:
          "The Mailbox Club es un movimiento internacional que busca hacer que la Biblia sea accesible para todos los niños y jóvenes del mundo. Su objetivo es que los niños y jóvenes puedan aprender sobre Dios y cómo seguir a Jesús a través de cursos bíblicos en sus iglesias locales.",
      },
      {
        question: "¿Cuáles son los medios de contacto directo?",
        answer:
          "El correo electrónico tmc.iberica@gmail.com y el teléfono +34 643 000 000",
      },
      {
        question: "¿Qué datos demuestran sobre la conversión de cristianos en la niñez?",
        answer:
          "Indican que entre el 60% y el 85% de los cristianos vinieron a Cristo siendo niños, y que el 85% de los cristianos son salvos antes de los 14 años.",
      },
      {
        question: "¿Qué datos demuestran sobre la conversión de cristianos en la adolescencia?",
        answer:
          "Se estima que el 85% de los cristianos son salvos antes de los 14 años.",
      },
      {
        question: "Además de los materiales clasificados por edad, ¿qué otros títulos específicos aparecen en los enlaces de recursos?",
        answer:
          "'Hora del cuento', 'Amor, noviazgo y matrimonio', 'Folletos', 'Eres amado' y '¿Cómo llegar al cielo?'",
      },
      {
        question: "¿Qué significa la frase 'Ellos enseñan'?",
        answer:
          "La frase 'Ellos enseñan' se refiere a los voluntarios que enseñan a los niños durante 6-10 meses. Vemos un gran porcentaje de niños que toman decisiones de salvación. Los estudiantes son discipulados: aprenden sobre Dios y cómo seguir a Jesús",
      },
    ]}
  />

  <ImageMarquee
    images={[
      {
        src: logo1.src,
        alt: "Logo 1",
      },
      {
        src: logo3.src,
        alt: "Logo 3",
      },
      {
        src: logo4.src,
        alt: "Logo 4",
      },
      {
        src: logo5.src,
        alt: "Logo 5",
      },
    ]}
  />
</Layout>

<style>
  .marquee {
    padding: 2rem 0;
    z-index: 9;
  }

  #hero-steps-wrapper {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr;

  }

  .content-layer {
    grid-area: 1 / 1;
    position: relative;
    z-index: 2;
  }

  #hero-steps-wrapper > :global(.stack-container) {
    grid-area: 1 / 1;
    z-index: 0;
  }
</style>
